<div id="form">
  <h2>Login</h2>
  <form action="/auth/login" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="Username" {{#if errors.username}}class="error"{{/if}} {{#if username}}value="{{username}}"{{/if}}/>
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" {{#if errors.password}}class="error"{{/if}}/>
    </label>

    <button type="submit">Login</button>

    {{#if errors.messages}}
    <div class="error-messages">
      {{#each errors.messages}} <p>{{{this}}}</p> {{/each}}
    </div>
    {{/if}}
  </form>
</div>