<h2>Login</h2>

<form action="/auth/login" method="post">
    <label> Username
        <input type="text" name="username" id="username">
    </label>
        <label> Password
        <input type="password" name="password" id="password">
    </label>
    <input type="submit" id="submit-btn" value="Login">
</form>