<div class="list">
    <a href="/">Go home, {{#if user}}{{user.username}}{{else}}good Sir{{/if}}</a>
    <img src="https://i.pinimg.com/564x/fc/dc/a4/fcdca4365169dbc2137c088c6e62afbc.jpg" alt="">
</div>
