<div class="list">
    <a href="/">Go home, {{user.username}}. Your're drunk.</a>
    <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWQ0NDIzMjk5OTA5ZDcyMjJmNTBmYTZhYWI2NmFmZTM2ZjcyNTVlYyZjdD1n/XreQmk7ETCak0/giphy.gif" alt="">
</div>